@charset "UTF-8";

/* .mainimg */
.mainimg {
	background:url(../common/images/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg .ttl {
	width:28%;
	padding:5% 0 5% 4.5%;
}

/* .formArea */
.formArea .txt {
	line-height:1.6;
	padding-bottom:41px;
}
.formArea table {
	width:100%;
	clear:both;
	border-top:#efefef 2px solid;
	margin-bottom:23px;
}
.formArea table th {
	width:34%;
	text-align:left;
	vertical-align:top;
	font-weight:normal;
	padding:26px 2.5% 10px;
	box-sizing:border-box;
	border-bottom:#efefef 2px solid;
}
.formArea table th .must {
	display:block;
	font-size:11px;
	background:#c33232;
	color:#fff;
	float:left;
	padding:1px 5px;
}
.formArea table th p {
	width:75%;
	float:right;
}
.formArea table td {
	width:66%;
	text-align:left;
	vertical-align:top;
	border-bottom:#efefef 2px solid;
	padding:22px 0;
}
.formArea table td input[type="radio"] {
	margin:0 10px 0 3px;
	padding:0;
	vertical-align:baseline;
}
.formArea table span.mwform-radio-field {
	display:block;
	margin:0 0 1.5em;
}
.formArea table td input[type="text"] {
	width:95.5%;
	background:#efefef;
	border:#e6e6e6 2px solid;
	padding:0 4px;
	margin:0;
	line-height:32px;
	height:32px;
	box-sizing:border-box;
}
.formArea table td textarea {
	width:95.5%;
	background:#efefef;
	border:#e6e6e6 2px solid;
	padding:0 4px;
	margin:0;
	height:150px;
	box-sizing:border-box;
}
.formArea table td .inputList {
	clear:both;
	margin-bottom:-3px;
}
.formArea table td .inputList li {
	padding:4px 0 17px;
}
.formArea .txtArea {
	width:100%;
	border:#e0e0e0 1px solid;
	box-sizing:border-box;
	clear:both;
}
.formArea .txtArea div {
	width:100%;
	overflow-y:auto;
	padding:26px 20px 5px 28px;
	box-sizing:border-box;
	height:167px;
}
.formArea .txtArea div::-webkit-scrollbar {
	width:6px;
	background: rgba(0, 0, 0, 0.25);
}
.formArea .txtArea div::-webkit-scrollbar-thumb {
	background:rgba(0, 0, 0, 0.5);
	border-radius:3px;
}
.formArea .txtArea .txt {
	line-height:1.7;
}
.formArea .txtArea .txt span {
	display:block;
	color:#4275bb;
	font-weight:bold;
}
.formArea .checkTxt {
	text-align:center;
	line-height:1.2;
	padding:33px 0 22px;
}
.formArea .checkTxt input[type="checkbox"] {
	margin:0 12px 0 3px;
	padding:0;
	vertical-align:top;
}

/* .mbnr */
.mbnr {
	width:100%;
	text-align:center;
	clear:both;
}
.mbnr li {
	width:36%;
	display:inline-block;
	padding:0 6px;
	box-sizing:border-box;
}
.mbnr li input[type="submit"] {
	width:100%;
	background:#4275bb;
	font-size:18px;
	color:#fff;
	text-align:center;
	border:none;
	font-weight:bold;
	height:60px;
	line-height:60px;
	cursor:pointer;
	margin-bottom:0.5em;
}
.mbnr li input.button01:hover {
	opacity:0.8;
}

@media only screen and (min-width:1px) and (max-width:680px){
/* .mainimg */
.mainimg {
	background:none;
}
.mainimg .ttl {
	width:100%;
	padding:0;
}

/* .formArea */
.formArea {
	width:87.5%;
	margin:0 auto;
}
.formArea table {
	width:100%;
	clear:both;
	font-size:10px;
	margin-top:0px;
	border-top:#e6e6e6 1px solid;
	margin-bottom:12px;
}
.formArea table tbody,
.formArea table tr {
	display: block;
	width: 100%;
}
.formArea table th {
	width:100%;
	display:block;
	padding:14px 0 7px;
	border-bottom:none;
}
.formArea table th:after {
	content: "";
	display: block;
	clear: both;
}
.formArea table th p {
	width:87%;
	float:left;
}
.formArea table th .must {
	font-size:8px;
	padding:0 5px;
	margin-right:3%;
}
.formArea table td {
	width:100%;
	display:block;
	padding:5px 0 12px;
	border-bottom:#e6e6e6 1px solid;
}
.formArea table td:last-child {
	border-bottom:none;
}
.formArea table td .inputList {
	padding:12px 0 18px;
}
.formArea table td .inputList li {
	padding-bottom:11px;
}
.formArea table td input[type="radio"] {
	vertical-align:top;
}
.formArea table td input[type="text"] {
	line-height:24px;
	height:24px;
	border:#e6e6e6 1px solid;
}
.formArea table td textarea.textarea01 {
	border:#e6e6e6 1px solid;
	height:125px;
	margin:4px 0;
}
.formArea .txtArea div {
	padding:8px 12px 8px 8px;
	height:242px;
}
.formArea .txtArea .txt {
	font-size:10px;
	line-height:2;
}
.formArea .checkTxt {
	font-size:10px;
	padding:18px 0 12px;
	text-align:left;
}
.mbnr li {
	width:100%;
	box-sizing:border-box;
}
.mbnr li input[type="submit"] {
	font-size:10px;
	line-height:50px;
	height:50px;
}
}