@charset "UTF-8";
.pcnone {
	display: none;
}
.spnone {
	display: inline;
}
.pchide {
	display: none;
}
.sphide {
	display: block;
}
.cf:after {
	content: "";
	display: block;
	clear: both;
}

/* .mainimg */
.mainimg {
	background:url(../common/images/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg .ttl {
	width:22%;
	padding:5% 0 5% 4.5%;
}

/*===================
// 新着情報
====================*/
/* .newsArea */
.newsArea {
	width: 100%;
	clear: both;
	color: #4a4a4a;
}
.newsArea ul {
	border-top: 1px solid #d8d8d8;
}
.newsArea ul li {
	border-bottom: 1px solid #d8d8d8;
	padding: 35px 0;
}
.newsArea ul li .arc_head {
	margin-bottom: 6px;
}
.newsArea ul li .arc_head .time {
	display: block;
	float: left;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: bold;
}
.newsArea ul li .arc_head .cate {
	display: block;
	float: left;
	font-size: 12px;
	line-height: 1em;
	color: #fff;
	width: 84px;
	text-align: center;
	padding: 3px 0 5px;
	border-radius: 3px;
	margin-left: 12px;
}
.newsArea ul li .arc_head .cate.cate_bg01 {background: #a6c482;}
.newsArea ul li .arc_head .cate.cate_bg02 {background: #e1a5a9;}
.newsArea ul li .arc_head .cate.cate_bg03 {background: #8dcbd8;}
.newsArea ul li h3 {
	margin-bottom: 10px;
}
.newsArea ul li h3 {
	color: #4275bb;
	font-size: 18px;
	line-height: 1.5em;
}
.newsArea ul li h3 a {
	color: #4275bb;
	text-decoration: underline;
}
.newsArea ul li p {
	font-size: 14px;
	line-height: 1.714em;
}
.newsArea ul li .news_left {
	float: left;
	width: 450px;
}
.newsArea ul li img {
	float: right;
	width: 250px;
}
/* ページャー */
.pager:after {
	content: "";
	display: block;
	clear: both;
}
.pager {
	width: 321px;
	margin: 20px auto;
}
.pager li {
	color: #4a4a4a;
	font-family: sans-serif;
	float: left;
	font-size: 14px;
	line-height: 1em;
	font-weight: bold;
	border: 1px solid #d8d8d8;
	min-width: 34px;
	text-align: center;
	margin-left: 5px;
	cursor: pointer;
	background: #fff;
	padding: 8px 0;
}
.pager li:first-child {
	margin-left: 0;
}
.pager li.leader {
	border: none;
}
.pager li.none {
	color: #d8d8d8;
}
.pager li.loc {
	color: #fff;
	background: #4275bb;
	border: 1px solid #4275bb;
}
.pager li:hover {
	color: #fff;
	background: #4275bb;
	border: 1px solid #4275bb;
}
.pager li.leader:hover {
	color: #4a4a4a;
	background: #fff;
	border: none;
	cursor: auto;
}


@media only screen and (min-width:1px) and (max-width:680px){
.pcnone {
	display: inline;
}
.spnone {
	display: none;
}
.pchide {
	display: block;
}
.sphide {
	display: none;
}


/* .mainimg */
.mainimg {
	background:none;
}
.mainimg .ttl {
	width:100%;
	padding:0;
}



/*===================
// 新着情報
====================*/
/* .newsArea */
.newsArea ul {
	width: 87.5%;
	margin: 0 auto;
	border-top: 1px solid #d8d8d8;
}
.newsArea ul li {
	border-bottom: 1px solid #d8d8d8;
	padding: 5% 0;
}
.newsArea ul li .arc_head {
	margin-bottom: 3%;
}
.newsArea ul li .arc_head .time {
	display: block;
	float: left;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: bold;
}
.newsArea ul li .arc_head .cate {
	display: block;
	float: left;
	font-size: 10px;
	line-height: 1em;
	color: #fff;
	width: 20%;
	text-align: center;
	padding: 0.8% 0 1.2%;
	border-radius: 3px;
	margin-left: 12px;
}
.newsArea ul li h3 {
	margin-bottom: 3%;
}
.newsArea ul li h3 {
	color: #4275bb;
	font-size: 16px;
	line-height: 1.5em;
}
.newsArea ul li h3 a {
	color: #4275bb;
	text-decoration: underline;
}
.newsArea ul li p {
	font-size: 12px;
	line-height: 2em;
}
.newsArea ul li .news_left {
	float: none;
	width: 100%;
}
.newsArea ul li img {
	float: none;
	display: block;
	width: 60%;
	margin: 4% auto 0;
}
/* ページャー */
.pager:after {
	content: "";
	display: block;
	clear: both;
}
.pager {
	width: 67%;
	margin: 3.125% auto;
}
.pager li {
	color: #4a4a4a;
	font-family: sans-serif;
	float: left;
	font-size: 10px;
	line-height: 1em;
	font-weight: bold;
	border: 1px solid #d8d8d8;
	min-width: 10%;
	text-align: center;
	margin-left: 1%;
	cursor: pointer;
	background: #fff;
	padding: 8px 0;
}
.pager li:first-child {
	margin-left: 0;
}
.pager li.leader {
	border: none;
}
.pager li.none {
	color: #d8d8d8;
}
.pager li.loc {
	color: #fff;
	background: #4275bb;
	border: 1px solid #4275bb;
}

}