@charset "UTF-8";
.pcnone {
	display: none;
}
.spnone {
	display: inline;
}
.pchide {
	display: none;
}
.sphide {
	display: block;
}

/* .mainimg */
.mainimg {
	background:url(../common/images/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg .ttl {
	width:22%;
	padding:5% 0 5% 4.5%;
}

/* .grtArea */
.grtArea {
	width:100%;
	clear:both;
}
.grtArea .ttl_img {
	width: 254px;
	margin: 20px auto 0;
}
.grtArea .txt1 {
	font-size: 14px;
	line-height: 2em;
	width: 650px;
	margin: 20px auto 80px;
}
/* .outlineArea */
.outlineArea {
	width:100%;
	clear:both;
}
.outlineArea table {
	width: 100%;
	color: #4a4a4a;
	font-size: 14px;
	line-height: 2em;
	margin-bottom: 75px;
}
.outlineArea table tr {
	border-bottom: 1px solid #d8d8d8;
}
.outlineArea table tr:first-child {
	border-top: 1px solid #d8d8d8;
}
.outlineArea table th {
	width: 80px;
	text-align: left;
	font-weight: bold;
	padding: 15px 80px 15px 0;
}
.outlineArea table td {
	padding: 15px 0;
}
.outlineArea table td span {
	display: block;
	text-indent: -1em;
	padding-left: 0.5em;
}
/* .hisArea */
.hisArea {
	width:100%;
	clear:both;
}
.hisArea table {
	width: 100%;
	color: #4a4a4a;
	font-size: 14px;
	line-height: 1.429em;
	margin-bottom: 75px;
}
.hisArea table tr {
	border-bottom: 1px solid #d8d8d8;
}
.hisArea table tr:first-child {
	border-top: 1px solid #d8d8d8;
}
.hisArea table th {
	text-align: left;
	font-weight: bold;
	width: 135px;
	padding: 12px 0 12px 0;
}
.hisArea table td {
	padding: 12px 0;
}
/*===================
// 代表挨拶ページ
====================*/
/* .greetingArea */
#mainBody.ol_greeting {
	background: url("../images/outline/bg_grt.jpg") no-repeat right bottom;
}
.greetingArea {
	width:100%;
	clear:both;
	padding-bottom: 207px;
	margin-bottom: -100px;
	/*background: url("../images/outline/bg_grt.jpg") no-repeat 100px bottom;*/
}
.greetingArea p {
	font-size: 14px;
	line-height: 1.714em;
}
.greetingArea .cl_name {
	margin: 40px 0 10px 0;
}
.greetingArea .name {
	width: 173px;
}
/*===================
// グループ一覧ページ
====================*/
/* .groupArea */
.groupArea {
	width:100%;
	clear:both;
	background: url("../images/outline/bg_map.png") no-repeat right 27px;
	min-height: 640px;
	margin-bottom: 5px;
}
.groupArea p {
	font-size: 12px;
	line-height: 2em;
}
/* .comlistArea */
.comlistArea {
	width:100%;
	clear:both;
}
.comlistArea ul {
	margin-bottom: 45px;
}
.comlistArea ul:after {
	content: "";
	display: block;
	clear: both;
}
.comlistArea ul li {
	width: 218px;
	float: left;
	margin-left: 34px;
}
.comlistArea ul li a {
	color: #4a4a4a;
	display: block;
}
.comlistArea ul li a:hover {
	text-decoration: none;
}
.comlistArea ul li:first-child {
	margin-left: 0;
}
.comlistArea ul li:last-child {
	width: 209px;
}
.comlistArea ul li h4 {
	color: #4275bb;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	margin: 10px 0;
}
.comlistArea ul li p {
	font-size: 12px;
	line-height: 1.583em;
}
/*===================
// 事業所一覧ページ
====================*/
/* .officeArea */
.officeArea {
	width:100%;
	clear:both;
}
.officeArea .cf:after {
	content: "";
	display: block;
	clear: both;
}
.officeArea .imgbox .ofc_img01 {
	float: left;
	width: 360px;
}
.officeArea .imgbox .ofc_img02 {
	float: left;
	width: 177px;
}
.officeArea .imgbox .ofc_deta {
	float: left;
	margin-left: 20px;
}
.officeArea .imgbox .ofc_deta h4 {
	color: #4275bb;
	font-size: 16px;
	margin-bottom: 20px;
}
.officeArea .imgbox .ofc_deta ul {
	font-size: 14px;
	line-height: 1.714em;
}
.officeArea .gmap {
	margin-top: 20px;
}
.officeArea .ofc_list {
	margin-top: 90px;
}
.officeArea .ofc_list>li {
	float: left;
	width: 340px;
	margin-left: 40px;
	margin-bottom: 45px;
}
.officeArea .ofc_list>li:nth-child(odd) {
	margin-left: 0;
}
.officeArea .ofc_list h5 {
	color: #4275bb;
	font-size: 18px;
	margin-bottom: 15px;
}
.officeArea .ofc_list .imgbox .ofc_deta {
	float: right;
	width: 150px;
	margin-left: 0;
}


@media only screen and (min-width:1px) and (max-width:680px){
.pcnone {
	display: inline;
}
.spnone {
	display: none;
}
.pchide {
	display: block;
}
.sphide {
	display: none;
}


/* .mainimg */
.mainimg {
	background:none;
}
.mainimg .ttl {
	width:100%;
	padding:0;
}


/* .grtArea */
.grtArea .ttl_img {
	width: 45.625%;
	margin: 0 auto;
}
.grtArea .txt1 {
	font-size: 14px;
	line-height: 1.818em;
	width: 87.5%;
	margin: 6.25% auto 13.28%;
}
/* .outlineArea */
.outlineArea table {
	width: 87.5%;
	margin: 0 auto 14%;
	font-size: 12px;
	line-height: 1.8em;
}
.outlineArea table th {
	width: 31.25%;
	padding: 3.5% 0;
}
.outlineArea table td {
	padding: 3.5% 7% 3.5% 0;
}
.outlineArea table td span {
	display: block;
	text-indent: -1em;
	padding-left: 0.5em;
}
/* .hisArea */
.hisArea table {
	width: 87.5%;
	margin: 0 auto 14%;
	font-size: 12px;
	line-height: 1.600em;
}
.hisArea table th {
	width: 31.25%;
	padding: 3.5% 0;
}
.hisArea table td {
	padding: 3.5% 0;
}
/*===================
// 代表挨拶ページ
====================*/
/* .greetingArea */
#mainBody.ol_greeting {
	background: none;
}
.greetingArea {
	padding-bottom: 65%;
	background: url("../images/outline/bg_grt.jpg") no-repeat center bottom;
}
.greetingArea p {
	width: 87.5%;
	margin: 0 auto 10%;
	font-size: 12px;
	line-height: 2em;
}
.greetingArea .cl_name {
	margin: 0 auto;
	text-align: center;
}
.greetingArea .name {
	width: 49%;
	margin: 2% auto 0;
}
/*===================
// グループ一覧ページ
====================*/
/* .groupArea */
/*.groupArea {
	width:100%;
	clear:both;
	background: url("../images/outline/bg_map.png") no-repeat right bottom;
	background-size: 125%;
	min-height: auto;
	padding-bottom: 80%;
	margin-bottom: 0;
}*/
.groupArea {
	width:100%;
	clear: none;
	background: url("../images/outline/bg_map.png") no-repeat right 100%;
	background-size: 100%;
	min-height: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
}
.groupArea p {
	width: 87.5%;
	margin: 0 auto 10%;
	font-size: 12px;
	line-height: 2em;
}
/* .comlistArea */
.comlistArea {
	width:100%;
	clear:both;
}
.comlistArea ul {
	width: 87.5%;
	margin: 0 auto 10%;
}
.comlistArea ul:after {
	content: "";
	display: block;
	clear: both;
}
.comlistArea ul li {
	width: 46.5%;
	float: left;
	margin-left: 0;
	margin-bottom: 5%;
}
.comlistArea ul li:nth-child(even) {
	float: right;
}
.comlistArea ul li:last-child {
	width: 46.5%;
}
.comlistArea ul li h4 {
	color: #4275bb;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	margin: 10px 0;
}
.comlistArea ul li p {
	font-size: 12px;
	line-height: 1.583em;
}
/*===================
// 事業所一覧ページ
====================*/
/* .officeArea */
.officeArea .imgbox {
	width: 87.5%;
	margin: 0 auto;
}
.officeArea .imgbox .ofc_img01 {
	float: none;
	width: 100%;
}
.officeArea .imgbox .ofc_img02 {
	float: none;
	width: 100%;
}
.officeArea .imgbox .ofc_deta {
	float: none;
	margin-left: 0;
}
.officeArea .imgbox h4 {
	color: #4275bb;
	font-size: 14px;
	margin-bottom: 1.5%;
}
.officeArea .imgbox .ofc_deta ul {
	font-size: 12px;
	margin: 2% 0;
}
.officeArea .gmap {
	width: 87.5%;
	margin: 0 auto;
}
.officeArea .gmap iframe {
	width: 100%;
}
.officeArea .ofc_list {
	margin-top: 12%;
}
.officeArea .ofc_list>li {
	float: none;
	width: 100%;
	margin-left: 0;
	margin-bottom: 7.8125%;
}
.officeArea .ofc_list>li:nth-child(odd) {
	margin-left: 0;
}
.officeArea .ofc_list h5 {
	width: 87.5%;
	margin: 0 auto;
	font-size: 18px;
	margin-bottom: 1.5%;
}
.officeArea .ofc_list .imgbox .ofc_deta {
	float: none;
	width: 100%;
	margin-left: 0;
}




}