@charset "UTF-8";

/* .mainimg */
.mainimg {
	background:url(../common/images/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg .ttl {
	width:22%;
	padding:5% 0 5% 4.5%;
}

/* .productDetail */
.productDetail {
	width:100%;
	clear:both;
	background:url(../images/product/unithouse/bg.jpg) repeat-y left top;
	margin-bottom:48px;
}
.productDetail .mimg {
	padding-bottom:15px;
}
.productDetail .mitx {
	width:94.5%;
	margin:0 auto;
	padding:10px 0 45px;
	font-size:14px;
	line-height:1.8;
}
.pointArea {
	width:94.5%;
	margin:0 auto;
	clear:both;
}
.pointArea .title {
	width:100%;
	overflow:hidden;
	clear:both;
	background:#e8e8e8;
}
.pointArea .title dt {
	width:7.6%;
	float:left;
}
.pointArea .title dd {
	width:90%;
	float:right;
	font-weight:bold;
	color:#4a4a4a;
	padding:10px 0 0;
}
.pointArea .txt {
	line-height:1.8;
	padding:16px 0 48px;
}
.pointArea .point_txtimg div {
	float: right;
	width: 225px;
	margin: 18px 10px 48px 20px;
}

/* .optimumArea */
.optimumArea {
	width:94.5%;
	background:#e8e8e8;
	margin:0 auto 50px;
	clear:both;
	padding:10px;
	box-sizing:border-box;
}
.optimumArea .title {
	background:#fff;
	border-radius:5px;
	position:relative;
	padding:11px 0 12px 78px;
	margin-bottom:11px;
	color:#4a4a4a;
	font-weight:bold;
}
.optimumArea .title span {
	position:absolute;
	top:-29px;
	left:0px;
}
.optimumArea .cont {
	width:100%;
	border-radius:5px;
	background:#fff;
	clear:both;
	padding:0 19px 0 23px;
	box-sizing:border-box;
	margin-bottom:11px;
}
.optimumArea .cont .img {
	float:left;
	width:14.2%;
	padding:30px 0 0;
}
.optimumArea .cont div {
	width:82.2%;
	float:right;
}
.optimumArea .cont .tit {
	color:#4a4a4a;
	border-bottom:#e71f19 2px solid;
	padding:25px 0 9px;
	font-weight:bold;
}
.optimumArea .cont .txt {
	line-height:1.7;
	padding:14px 0 25px;
}

/* .attentionArea */
.attentionArea {
	width:94.5%;
	margin:0 auto;
	clear:both;
	padding-bottom:19px;
}
.attentionArea .title {
	color:#fff;
	background:#707070;
	color:#fff;
	font-weight:bold;
	padding:7px 12px 6px;
}
.attentionArea .cont {
	width:97%;
	margin:0 auto 2px;
	border-bottom:#909090 1px solid;
	clear:both;
	color:#4a4a4a;
	padding-bottom:26px;
}
.attentionArea .cont.last {
	border-bottom:none;
}
.attentionArea .cont .tit {
	background:url(../images/product/unithouse/ico02.png) no-repeat left 28px;
	padding:33px 0 10px 35px;
	font-weight:bold;
}
.attentionArea .cont .txt {
	width:100%;
	clear:both;
	padding:0 12px 0 30px;
	box-sizing:border-box;
}
.attentionArea .cont .txt li {
	text-indent:-1em;
	padding-left:1em;
	line-height:1.7;
}


/* .productList */
.productList {
	width:94.5%;
	margin:0 auto;
	clear:both;
	padding:38px 0 61px;
	color:#2c2d2d;
}
.productList .title {
	width:100%;
	border-top:#909090 1px solid;
	border-bottom:#909090 1px solid;
	clear:both;
	display:table;
	padding:7px 10px;
	box-sizing:border-box;
	color:#4a4a4a;
	margin-bottom:24px;
}
.productList .title p {
	width:50%;
	display:table-cell;
	vertical-align:middle;
	font-weight:bold;
}
.productList .title ul {
	width:50%;
	display:table-cell;
	vertical-align:middle;
	text-align:right;
}
.productList .title ul li {
	display:inline-block;
	background:#e8e8e8;
	padding:2px 10px;
	line-height:1.3;
}
.productList .product {
	width:100%;
	clear:both;
	padding-bottom:38px;
}
.productList .product .photos {
	width:32.3% !important;
	float:left !important;
	padding:3px 0 0;
}
.productList .product .photos ul {
	text-align:left;
}
.productList .product .photos li {
	margin:0.5em 3% 0 0;
	padding:0;
	vertical-align:top;
	width:31%;
}
.productList .product .photos li:nth-child(3n) {
	float:right;
	margin-right:0;
}
.productList .product .clearfix div {
	width: 440px;
	float:right;
}
.productList .product .txt {
	line-height:1.7;
	height:auto!important;
	min-height:166px;
	height:166px;
}
.productList .product ul {
	width:100%;
	text-align:right;
	clear:both;
}
.productList .product ul li {
	width: 50%;
	display:inline-block;
	padding:0 0 0 6px;
	box-sizing:border-box;
}
.productList .product .product_table {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	line-height: 1.9em;
	margin: 20px 0 30px;
}
.productList .product .product_table th {
	border: 1px solid #b9b9b9;
	padding: 6px 0 5px 8px;
	text-align: left;
	font-weight: normal;
}
.productList .product .product_table td {
	border: 1px solid #b9b9b9;
	padding: 6px 0 5px 18px;
}

/* .actualArea */
.actualArea {
	width:100%;
	clear:both;
	padding-top:30px;
}
.actualArea .btn {
	width:38%;
	margin:0 auto;
	padding:4px 0 0;
}

/* .workList */
.workList {
	width:100.8%;
	margin:0 -0.4%;
}
.workList li {
	width:33.3%;
	padding:0 0.4% 4%;
}
.workList li a {
	width:100%;
	border:#d8d8d8 1px solid;
	box-sizing:border-box;
}

/*-----------------------------------

				以下フローの追加分

-----------------------------------*/
.productDetail .flow_box {
	background: #dfe5ec;
	padding: 15px 15px 1px;
	margin-bottom: 15px;
}
.productDetail .flow_box h4 {
	background: #678ab9;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	padding: 3px 0 2px 8px;
	margin-bottom: 16px;
}
.productDetail .flow_box li {
	float: left;
	position: relative;
	margin-bottom: 17px;
	width: 22%;
	margin-left: 4%;
}
.productDetail .flow_box li .caption {
	margin-top: 4px;
}
.productDetail .flow_box li:nth-child(4n+1) {
	margin-left: 0;
}
.productDetail .flow_box li span {
	display: block;
	position: relative;
}
.productDetail .flow_box li span:after {
	content: url("../images/product/icon_flow.png");
	display: block;
	position: absolute;
	width: 12px;
	height: 22px;
	top: 0;
	bottom: 0;
	right: -12px;
	margin: auto 0;
}
.productDetail .flow_box li:last-child span:after {
	display: none;
}
/*フロー数に合わせてcss変更*/
.productDetail .flow_03 li {
	width: 29%;
	margin-left: 6.5%;
}
.productDetail .flow_03 li span:after {
	right: -27px;
}
/* バナー */
.mainArea .bnr_area {
	width:94.5%;
	margin:0 auto 60px;
}
.mainArea .bnr_area h2 {
	background:#e8e8e8;
	color:#4a4a4a;
	font-size:20px;
	padding:0.5em;
	margin-bottom:1.5em;
}
.mainArea .bnr_area li {
	float:left;
	text-align:left;
	font-size:14px;
	margin-left:60px;
}
.mainArea .bnr_area li img {
	width:auto;
	margin:0.5em 0;
}



@media only screen and (min-width:1px) and (max-width:680px){
/* .mainimg */
.mainimg {
	background:none;
}
.mainimg .ttl {
	width:100%;
	padding:0;
}

#mainBody {
	padding-top:0;
}
/* バナー */
.mainArea .bnr_area {
	width:87.5%;
	margin:0 auto 40px;
}
.mainArea .bnr_area h2 {
	font-size:14px;
}
.mainArea .bnr_area li {
	float:none;
	font-size:11px;
	margin-left:0;
	margin-bottom:1.5em;
}
.mainArea .bnr_area li img {
	width:100%;
}


/* .productDetail */
.productDetail {
	padding-top:10px;
	background-size:100%;
	margin-bottom:36px;
}
.productDetail .mimg {
	padding-bottom:8px;
}
.productDetail .mitx {
	width:87.5%;
	font-size: 11px;
	line-height: 1.65;
	padding-bottom: 35px;
}

/* .pointArea */
.pointArea {
	width:87.5%
}
.pointArea .title dt {
	width:15%;
}
.pointArea .title dd {
	width:79.5%;
	font-size:13px;
	line-height:1.2;
	padding-top:12px;
	padding-right:20px;
	box-sizing:border-box;
}
.pointArea .title dd.spL {
	padding-top:5px;
}
.pointArea .txt {
	font-size:11px;
	line-height:1.65;
	padding-bottom:45px;
}
.pointArea .point_txtimg div {
	float: none;
	width: 100%;
	margin: 16px 0 0 0;
}


.productList .product .product_table {
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
	line-height: 1.9em;
	margin: 0 0 30px;
}
.productList .product .product_table th {
	padding: 6px 0 5px 8px;
	width: 35%;
}
.productList .product .product_table td {
	padding: 6px 0 5px 18px;
}

/* .optimumArea */
.optimumArea {
	width:100%;
	padding:15px 6.25% 20px;
	margin-bottom:25px;
}
.optimumArea .title {
	font-size:13px;
	padding:10px 22px 10px 50px;
}
.optimumArea .title span {
	width:18%;
	top:-12px;
	left:-12px;
}
.optimumArea .cont .img {
	width:35%;
	float:none;
	margin:0 auto;
	padding:20px 0 0;
}
.optimumArea .cont div {
	width:100%;
	float:none;
}
.optimumArea .cont .tit {
	font-size:13px;
	padding:15px 0 7px;
	border-bottom:#e71f19 1px solid;
	line-height:1.3;
}
.optimumArea .cont .txt {
	font-size:11px;
	padding:8px 0 15px;
}

/* .attentionArea */
.attentionArea {
	width:87.5%;
}
.attentionArea .title {
	font-size:13px;
	padding:10px;
}
.attentionArea .cont {
	margin-bottom:12px;
}
.attentionArea .cont.last {
	margin-bottom:0;
	padding-bottom:12px;
}
.attentionArea .cont .tit {
	font-size:13px;
	line-height:1.4;
	background:url(../images/product/unithouse/ico02.png) no-repeat left 15px;
	background-size:18px;
	padding:15px 0 18px 25px;
}
.attentionArea .cont .txt {
	padding:0;
	font-size:11px;
}
.attentionArea .cont .txt li {
	line-height:1.6;
}

/* .productList */
.productList {
	width:87.5%;
	padding-top:23px;
	padding-bottom:0;
}
.productList .title {
	margin-bottom:10px;
}
.productList .title p {
	font-size:13px;
}
.productList .title ul {
	font-size:8px;
}
.productList .product .photos {
	width:100%;
	float:none;
}
.productList .product .photos li {
	display:inline-block !important;
}
.productList .product div {
	width:100%;
	float:none;
}
.productList .product .clearfix div {
	width: 100% !important;
	float:none !important;
}
.productList .product .txt {
	font-size:11px;
	height:auto!important;
	min-height:83px;
	height:83px;
	padding:15px 0 15px;
	line-height:1.6;
}
.productList .product ul li {
	width:82%;
	display:block;
	margin:0 auto;
	padding-bottom:10px;
}

/* .actualArea */
.actualArea {
	padding-top:25px;
}

/* .workList */
.workList {
	width:91%;
	margin:0 auto;
	padding-bottom:0;
	margin-bottom:-15px;
}
.workList li {
	width:50%;
	padding:0 1.8% 15px;
}
.workList li a {
	width:100%;
	padding:5px 5px 12px;
}
.workList li a p {
	font-size:10px;
	padding-left:0;
	padding-right:0;
}


/*-----------------------------------

				以下フローの追加分

-----------------------------------*/
.productDetail .flow_box {
	padding: 3.5% 3.5% 1%;
	margin-bottom: 4%;
}
.productDetail .flow_box h4 {
	background: #678ab9;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	padding: 3px 0 2px 8px;
	margin-bottom: 16px;
}
.productDetail .flow_box li {
	float: left;
	position: relative;
	width: 47%;
	margin: 0 0 4% 6%;
}
.productDetail .flow_box li .caption {
	margin-top: 4px;
	font-size: 10px;
}
.productDetail .flow_box li:first-child {
	margin-left: 0;
}
.productDetail .flow_box li:nth-child(odd) {
	margin-left: 0;
}
.productDetail .flow_box li span {
	display: block;
	position: relative;
}
.productDetail .flow_box li span:after {
	content: url("../images/product/icon_flow_sp.png");
	display: block;
	position: absolute;
	width: 8px;
	height: 15px;
	top: 0;
	bottom: 0;
	right: -8px;
	margin: auto 0;
}
.productDetail .flow_box li:last-child span:after {
	display: none;
}


}