@charset "UTF-8";

/* .mainimg */
.mainimg {
	background:url(../common/images/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg .ttl {
	width:22%;
	padding:5% 0 5% 4.5%;
}

/* .productArea */
.productArea {
	width:100%;
	clear:both;
}

/* .listArea */
.listArea li {
	padding-bottom:3%;
}
.listArea li a {
	background:url(../common/images/arrow.png) no-repeat right bottom #efefef;
}
.listArea li a span {
	padding:5% 1.5%;
}
@media only screen and (min-width:1px) and (max-width:680px){
/* .mainimg */
.mainimg {
	background:none;
}
.mainimg .ttl {
	width:100%;
	padding:0;
}

/* .listArea */
.listArea li {
	padding:0 1.8% 16px;
}
.listArea li:last-child {
	padding-bottom:0;
}
.listArea li a {
	width:100%;
	padding:0;
}
.listArea li a span {
	font-size:10px;
	line-height:1.6;
	padding:6% 4% 8% 6%;
}
}