@charset "UTF-8";
.pcnone {
	display: none;
}
.spnone {
	display: inline;
}
.pchide {
	display: none;
}
.sphide {
	display: block;
}
.cf:after {
	content: "";
	display: block;
	clear: both;
}

/* .mainimg */
.mainimg {
	background:url(../common/images/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg .ttl {
	width:22%;
	padding:5% 0 5% 4.5%;
}

/*===================
// 採用情報
====================*/
/* .recruitArea */
.recruitArea {
	width: 100%;
	clear: both;
	color: #4a4a4a;
}
.recruitArea h3 {
	background: url("../images/recruit/rec_border.jpg") no-repeat left bottom;
	padding-bottom: 8px;
	font-size: 18px;
}
.recruit_end ,
.recruitArea table {
	width: 100%;
	font-size: 14px;
	line-height: 1.714em;
	margin-bottom: 40px;
}
.recruitArea table tr {
	border-bottom: 1px solid #d8d8d8;
}
.recruitArea table th {
	text-align: left;
	font-weight: normal;
	width: 180px;
	padding: 20px 0;
}
.recruitArea table td {
	padding: 18px 0;
}
.recruitArea .bnr_mynavi {
	width: 340px;
	margin: 0 auto 50px;
}
.recruitArea .bnr_mynavi a {
	display: block;
	float: left;
	width: 160px;
	margin-left: 20px;
}
.recruitArea .bnr_mynavi a:first-child {
	margin-left: 0;
}
.contactArea {
	width: 100%;
	clear: both;
	color: #4a4a4a;
}
.contactArea p {
	font-size: 14px;
	line-height: 1.714em;
}
.contactArea .inq {
	background: #efefef;
	border: 1px solid #d8d8d8;
	text-align: center;
	margin: 20px 0 50px 0;
	padding: 25px 0 20px 0;
}
.contactArea .inq h4 {
	font-size: 18px;
	margin-bottom: 3px;
}
.contactArea .inq .tel {
	font-size: 16px;
	color: #4275bb;
	font-weight: bold;
}
.contactArea .inq .tel span {
	font-size: 14px;
}


@media only screen and (min-width:1px) and (max-width:680px){
.pcnone {
	display: inline;
}
.spnone {
	display: none;
}
.pchide {
	display: block;
}
.sphide {
	display: none;
}


/* .mainimg */
.mainimg {
	background:none;
}
.mainimg .ttl {
	width:100%;
	padding:0;
}


/*===================
// 採用情報
====================*/
/* .recruitArea */
.recruitArea {
	width: 100%;
	clear: both;
	color: #4a4a4a;
}
.recruitArea h2,
.recruitArea h3 {
	width: 87.5%;
	margin: 0 auto;
}
.recruitArea h3 {
	background: url("../images/recruit/rec_border.jpg") no-repeat left bottom;
	background-size: 150%;
	padding-bottom: 1.4%;
	font-size: 16px;
}
.recruit_end ,
.recruitArea table {
	width: 87.5%;
	margin: 0 auto 10%;
	font-size: 12px;
	line-height: 1.714em;
}
.recruitArea table tr {
	border-bottom: 1px solid #d8d8d8;
}
.recruitArea table th {
	text-align: left;
	font-weight: normal;
	width: 35%;
	padding: 4% 0;
}
.recruitArea table td {
	padding: 4% 0;
}
.recruitArea .bnr_mynavi {
	width: 87.5%;
	margin: 0 auto 15%;
}
.recruitArea .bnr_mynavi a {
	display: block;
	float: right;
	width: 48%;
	margin-left: 0;
}
.recruitArea .bnr_mynavi a:first-child {
	margin-left: 0;
	float: left;
}
.contactArea {
	width: 100%;
	clear: both;
	color: #4a4a4a;
}
.contactArea p {
	width: 87.5%;
	margin: 0 auto;
	font-size: 14px;
	line-height: 1.714em;
}
.contactArea .inq {
	width: 100%;
	background: #efefef;
	border: 1px solid #d8d8d8;
	text-align: center;
	margin: 6% 0 0 0;
	padding: 6% 0 6% 0;
}
.contactArea .inq h4 {
	font-size: 18px;
	margin-bottom: 0.5%;
}
.contactArea .inq .tel {
	font-size: 16px;
	color: #4275bb;
	font-weight: bold;
}
.contactArea .inq .tel span {
	font-size: 14px;
}


}