@charset "UTF-8";

/* .mainimg */
.mainimg {
	background:url(../common/images/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg .ttl {
	width:22%;
	padding:5% 0 5% 4.5%;
}

.sitemap_left {
	float: left;
}

.sitemap_right {
	float: left;
	margin-left: 105px;
}

.sitemapArea ul.mgtul {
	margin-top: 60px;
}
.sitemapArea ul li a {
	color: #2d2d2d;
	text-decoration: none;
}
.sitemapArea ul li a:hover {
	text-decoration: underline;
}
.sitemapArea ul li {
	font-size: 14px;
	line-height: 1em;
	margin: 0 0 18px 25px;
}
.sitemapArea ul li:before {
	content: "-";
	color: #fe0000;
	vertical-align: middle;
	margin-right: 10px;
}
.sitemapArea ul li:first-child {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0 0 30px 0;
}
.sitemapArea ul li:first-child:before {
	content: url("../images/sitemap/icon_sitemap.jpg");
	vertical-align: top;
	margin-right: 10px;
}


@media only screen and (min-width:1px) and (max-width:680px){
	/* .mainimg */
	.mainimg {
		background:none;
	}
	.mainimg .ttl {
		width:100%;
		padding:0;
	}

	.sitemap_left {
		float: none;
		width: 87.5%;
		margin: 0 auto;
	}

	.sitemap_right {
		float: none;
		width: 87.5%;
		margin: 0 auto;
	}

	.sitemapArea ul.mgtul {
		margin: 0;
	}

	.sitemapArea ul {
		margin-bottom: 50px!important;
	}

	.sitemapArea ul li:first-child {
		margin: 0 0 20px 0;
	}


}