@charset "UTF-8";

body {
	background:#efefef;
}

/* #slideArea
-------------------------------------------------*/
#slideArea {
	width:100%;
	clear:both;
}

/*  .flexslider  */
.flexslider {
	position:relative;
	zoom:1;
	margin:0 auto;
}
.flexslider .slides > li {
	display:none;
	-webkit-backface-visibility:hidden;
}
.flexslider .slides > li p {
	clear:both;
}
.flexslider .slides img {
	width:100%;
	display:block;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility:hidden;
	line-height:0;
	height:0;
} 
.flexslider .slides a:hover img {
	opacity: 1;
}
.no-js .slides > li:first-child {
	display: block;
}
.flexslider .slides {
	zoom:1;
}
.flex-direction-nav {
	display:none;
}
.flex-control-nav {
	width:100%;
	position:absolute;
	bottom:60px;
	text-align:center;
	z-index:10;
}
.flex-control-nav li {
	margin:0 6px;
	display:inline-block;
	zoom:1;
	*display:inline;
}
.flex-control-paging li a {
	width:70px;
	height:6px;
	display:block;
	background:#03357a;
	cursor:pointer;
	text-indent:-9999px;
}
.flex-control-paging li a:hover {
	background:#ff0000;
}
.flex-control-paging li a.flex-active {
	background:#ff0000;
	cursor:default;
}

/* #header */
#header {
	margin-top:-42px;
}
#header .hinner {
	box-shadow:1px 1px 4px #c9c8c8;
	padding:1.8% 0 1.6%;
}
#header.clone .hinner {
	box-shadow:none;
}
#logo {
	padding:0.3% 3.8% 0 3%;
}
#logo a:hover img {
	opacity:1;
	filter: alpha(opacity=100);
	-ms-filter:"alpha(opacity=100)";
}
#header .hbtn {
	padding-right:4%;
}
#navi {
	width:48%;
	padding-left:0;
}
#navi ul li {
	padding:0 3.5%;
}
.mailArea {
	background:#fff;
}
#searchBox {
	right: 4%;
}

/* .linupArea */
.linupArea {
	padding:40px 0 3.4%;
}

/* .aboutArea */
.bgSw > div {
	background-size:cover!important;
}
.aboutArea {
	/*background:url(../images/top/bg_about.jpg) no-repeat center center;*/
	background-size:cover;
	padding:45px 0 48px;
	position: relative;
}
.aboutArea .ttl {
	width:35%;
	padding-bottom:3%;
}
.aboutArea .txt {
	width:59%;
	padding-bottom:4%;
}
.aboutArea .btn {
	width:27.5%;
}
.aboutArea .btn img {
	border:#c3bcb8 1px solid;
}

/* .workArea */
.workArea {
	padding:36px 0 0;
}
.workArea .inner {
	background:url(../common/images/ln.gif) repeat-x left bottom;
	clear:both;
	padding-bottom:3.7%;
}
.workArea .btn {
	width:27.5%;
	margin:0 auto;
}
.workArea .btn img {
	border:#fff 1px solid;
}

/* .infoArea */
.infoArea {
	padding:1.9% 0 3.6%;
}

/* .newArea */
.newArea {
	width:58.5%;
	float:left;
}
.newArea ul {
	width:100%;
	clear:both;
	padding:0.8% 0 0;
}
.newArea ul li {
	background:url(../common/images/ln.gif) repeat-x left bottom;
	padding:2.5% 0;
}
.newArea ul li a {
	color:#282828;
}
.newArea ul li .dates {
	padding-bottom:1.6%;
}
.newArea ul li .ico {
	width:14%;
	text-align:center;
	font-size:12px;
	display:inline-block;
	color:#fff;
	padding:4px 0 2px;
	line-height:1.2;
	margin-left:1.5%;
}
.newArea ul li .ico.bgPr {
	background:#a6c482;
}
.newArea ul li .ico.bgIn {
	background:#e1a5a9;
}
.newArea ul li .ico.bgRu {
	background:#8dcbd8;
}

/* .btnArea */
.btnArea {
	width:36%;
	float:right;
	padding-top:0.2%;
}
.btnArea li {
	padding-bottom:3%;
}

/* .groupArea */
.groupArea {
	background:url(../images/top/bg_group.jpg) no-repeat center center;
	background-size:cover;
	padding:40px 0 230px;
}
.groupArea .ttl {
	width:27%;
	padding-bottom:2.5%;
}
.groupArea .txt {
	width:67.5%;
	padding-bottom:2.7%;
}
.groupArea .btn {
	width:27.5%;
}
.groupArea .btn img {
	border:#fff 1px solid;
}

/* .linksArea */
.linksArea {
	background:url(../common/images/bg.jpg) repeat left top;
	padding:23px 0 17px;
}
.linksArea ul {
	width:75%;
	margin:0 auto;
	clear:both;
}
.linksArea ul li {
	width:33.3%;
	padding:0 1.3% 5px;
	box-sizing:border-box;
	float:left;
}

@media only screen and (min-width:1px) and (max-width:680px){
.flex-control-nav {
	bottom:5%;
}
.flex-control-paging li a {
	width:30px;
	height:3px;
}

/* .linupArea */
.linupArea {
	padding:20px 0 36px;
}

/* .listArea */
.listArea li a {
	background:none;
	padding:0;
}
.listArea li a span {
	display:none;
}

/* .aboutArea */
.bgSw > div {
	display: none;
}

.aboutArea {
	background:url(../images/top/section_about03.jpg) no-repeat center center!important;
	background-size:cover;
	color:#fff;
	padding:0 0 50px;
}
.aboutArea .inner {
	width:87.5%;
	margin:0 auto;
	clear:both;
}
.aboutArea .ttl {
	width:100%;
	clear:both;
	text-align:center;
	font-size:8px;
	font-weight:bold;
	padding:35px 0;
}
.aboutArea .ttl .spTit {
	display:block;
	font-size:12px;
}
.aboutArea .txt {
	width:100%;
	font-size:11px;
	line-height:1.8;
	padding-bottom:27px;
}
.aboutArea .btn {
	width:71.5%;
	margin:0 auto;
}

/* .workArea */
.workArea .inner {
	background:none;
}
.workArea .btn {
	width:71.5%;
	padding:0 8% 23px;
	margin:0 auto;
	background:url(../common/images/ln.gif) repeat-x left bottom;
}

/* .newArea */
.newArea {
	width:87.5%;
	padding:2px 0 22px;
	margin:0 auto;
	float:none;
}
.newArea ul li {
	font-size:11px;
	padding:18px 0;
}
.newArea ul li .dates {
	padding-bottom:15px;
}
.newArea ul li .ico {
	width:15%;
	font-size:8px;
	line-height:1.2;
	padding:1px 0;
}

/* .btnArea */
.btnArea {
	width:87.5%;
	margin:0 auto;
	float:none;
	padding-bottom:30px;
}

/* .groupArea */
.groupArea {
	background:url(../images/top/sp_bg_group.jpg) no-repeat center center;
	background-size:cover;
	padding:0 0 208px;
}
.groupArea .inner {
	width:87.5%;
	margin:0 auto;
}
.groupArea .ttl {
	width:100%;
	clear:both;
	text-align:center;
	font-size:8px;
	font-weight:bold;
	padding:35px 0;
	color:#fff;
}
.groupArea .ttl .spTit {
	display:block;
	font-size:12px;
	color:#fff;
}
.groupArea .txt {
	width:100%;
	font-size:11px;
	line-height:1.8;
	padding-bottom:20px;
}
.groupArea .btn {
	width:71.5%;
	margin:0 auto;
}

/* .linksArea */
.linksArea {
	padding-bottom:25px;
}
.linksArea ul {
	width:89.5%;
}
.linksArea ul li {
	width:50%;
}

/* #footer */
#footer {
	background:#fff;
}
}
