@charset "UTF-8";

/* .mainimg */
.mainimg {
	background:url(../common/images/mainimg.jpg) no-repeat center top;
	background-size:cover;
}
.mainimg .ttl {
	width:22%;
	padding:5% 0 5% 4.5%;
}

/* .flexslider */
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
	outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
.flexslider .slides > li {
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
.flexslider {
	position:relative;
	zoom:1;
	margin:0 0 44px;
	padding:0;
}
.flexslider .slides {
	zoom:1;
}
.flexslider .slides img {
	height:auto;
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
.flex-viewport {
	max-height:auto;
}
.loading .flex-viewport {
	max-height:auto;
}
.carousel li {
	margin:0;
}
.flex-direction-nav {
	*height:0;
}
.flex-direction-nav a,
.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next {
	display:none;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
	opacity:1;
}
.flex-direction-nav .flex-disabled {
	opacity:0!important;
	filter:alpha(opacity=0);
	cursor:default;
}
.flex-pauseplay a,
.flex-pauseplay a:before,
.flex-pauseplay a.flex-play:before,
.flex-pauseplay a:hover {
	display:none;
}
.flex-control-nav {
	width:100%;
}
.flex-control-paging li a {
	display:none;
}
.flex-control-thumbs {
	width:66.6%;
	clear:both;
	margin:20px auto 0;
	overflow:hidden;
}
.flex-control-thumbs li {
	width:25%;
	float:left;
	padding:0 1%;
	cursor:pointer;
	box-sizing:border-box;
}
.flex-control-thumbs img {
	width:100%;
	display:block;
	cursor:pointer;
	opacity:0.6;
	-webkit-transition:all 1s ease;
  	-moz-transition:all 1s ease;
  	-ms-transition:all 1s ease;
  	-o-transition:all 1s ease;
  	transition:all 1s ease;
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
.flex-control-thumbs img:hover {
	width:100%;
	opacity:1;
}
.flex-control-thumbs .flex-active {
	opacity:1;
	cursor:default;
}

/* .worksArea */
.worksArea {
	color:#4a4a4a;
}
.worksArea .txtArea {
	width:100%;
	background:#efefef;
	padding:12px 10px;
	box-sizing:border-box;
	clear:both;
	margin-bottom:47px;
}
.worksArea .txtArea div {
	width:91%;
	background:#fff;
	border-radius:5px;
	clear:both;
	padding:0 4.5%;
	position:relative;
}
.worksArea .txtArea .title {
	border-bottom:#8a8a8a 1px solid;
	font-size:20px;
	color:#4375bc;
	font-weight:bold;
	padding:16px 0 6px 45px;
}
.worksArea .txtArea .img {
	position:absolute;
	top:-40px;
	left:-20px;
}
.worksArea .txtArea .txt {
	line-height:1.7;
	padding:18px 0 26px;
}
.worksArea table {
	width:100%;
	clear:both;
	margin-top:10px;
}
.worksArea table th {
	width:18.5%;
	padding:17px 0 16px 1%;
	text-align:left;
	vertical-align:middle;
	border-bottom:#9c9c9c 1px solid;
}
.worksArea table td {
	width:80.5%;
	text-align:left;
	vertical-align:middle;
	border-bottom:#9c9c9c 1px solid;
	padding:17px 0 16px;
}
.worksArea .txt {
	padding:18px 0 46px;
}

/* .btnArea */
.btnArea {
	width:94.4%;
	background:#efefef;
	clear:both;
	overflow:hidden;
	padding:18px 2.8%;
	margin-bottom:115px;
}
.btnArea li {
	float:left;
}
.btnArea li.more {
	width:31.5%;
	padding:0 13.75%;
}
.btnArea li.btn {
	width:20.5%;
}
.btnArea li img {
	width:100%;
	height:auto;
	background:#efefef;
  zoom: 1;
}

/* .workList */
.workList {
	width:103%;
	margin:30px -1.5% -15px;
}
.workList li {
	width:33.3%;
	padding:0 1.5% 15px;
}
.workList li a {
	width:100%;
	box-sizing:border-box;
	background-color:#efefef;
	padding:6.2% 5.3%;
}

/*以下追加*/
.noline {
	padding-bottom: 0;
}
.headTitle02.noline span {
	background-position: 0 4px;
}
.pager:after {
	content: "";
	display: block;
	clear: both;
}
.pager {
	width: 321px;
	margin: 20px auto;
}
.pager li {
	color: #4a4a4a;
	font-family: sans-serif;
	float: left;
	font-size: 14px;
	line-height: 1em;
	font-weight: bold;
	border: 1px solid #d8d8d8;
	min-width: 34px;
	text-align: center;
	margin-left: 5px;
	background: #fff;
}
.pager li.none ,
.pager li.loc {
	padding: 8px 2px;
}
.pager li a {
	display:block;
	text-decoration:none;
	padding: 8px 5px;
}
.pager li a:hover {
}
.pager li:first-child {
	margin-left: 0;
}
.pager li.leader {
	border: none;
}
.pager li.none {
	color: #d8d8d8;
}
.pager li.loc {
	color: #fff;
	background: #4275bb;
	border: 1px solid #4275bb;
}
.pager li a:hover {
	background: #4275bb;
	color:#fff;
}
.pager li.leader:hover {
	color: #4a4a4a;
	background: #fff;
	border: none;
	cursor: auto;
}

@media only screen and (min-width:1px) and (max-width:680px){
/* .mainimg */
.mainimg {
	background:none;
}
.mainimg .ttl {
	width:100%;
	padding:0;
}

/* .flexslider */
.flexslider {
	width:87.5%;
	margin:0 auto;
}
.flex-control-thumbs {
	width:102%;
	margin:10px -1% 30px;
}

/* .worksArea */
.worksArea {
	width:87.5%;
	margin:0 auto;
}
.worksArea .txtArea {
	padding:6px;
	margin-bottom:20px;
}
.worksArea .txtArea .img {
	width:19%;
	top:-15px;
	left:-15px;
}
.worksArea .txtArea .title {
	font-size:13px;
	padding:12px 0 6px 30px;
	line-height:1.4;
}
.worksArea .txtArea .txt {
	font-size:11px;
	padding:12px 0;
	line-height:1.8;
}
.worksArea table {
	font-size:11px;
	margin-bottom:40px;
}
.worksArea table th {
	width:32%;
	padding:11px 0;
	vertical-align:top;
}
.worksArea table td {
	width:68%;
	padding:11px 0;
	vertical-align:top;
}
/* .btnArea */
.btnArea {
	width:86%;
	padding:12px 7%;
	margin-bottom:36px;
}
.btnArea li.btn {
	width:23.2%;
}
.btnArea li.more {
	width:37.5%;
	padding:0 8%;
}

/* .workList */
.workList {
	width:90.5%;
	margin:0 auto;
	padding-bottom:0;
	margin-top:15px;
}
.workList li {
	width:50%;
	padding:0 1.5% 15px;
}
.workList li a {
	width:100%;
	padding:5px 5px 12px;
}
.workList li a p {
	font-size:10px;
	padding-left:0;
	padding-right:0;
}


/*以下追加*/
.headTitle02.noline span {
	background-position: left center;
}
.pager:after {
	content: "";
	display: block;
	clear: both;
}
.pager {
	width: 67%;
	margin: 3.125% auto;
}
.pager li {
	color: #4a4a4a;
	font-family: sans-serif;
	float: left;
	font-size: 10px;
	line-height: 1em;
	font-weight: bold;
	border: 1px solid #d8d8d8;
	min-width: 10%;
	text-align: center;
	margin-left: 1%;
	cursor: pointer;
	background: #fff;
	padding: 8px 0;
}
.pager li:first-child {
	margin-left: 0;
}
.pager li.leader {
	border: none;
}
.pager li.none {
	color: #d8d8d8;
}
.pager li.loc {
	color: #fff;
	background: #4275bb;
	border: 1px solid #4275bb;
}

}