@charset "UTF-8";


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
ul {
    list-style:none;
}
img {
	width:100%;
	border: none;
	vertical-align:bottom;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
address, em, code, cite, dfn, var, optgroup {
  font-style: normal;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
	text-decoration:none;
	outline:none;
}
a:hover {
	text-decoration:underline;
}
a:hover img {
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter:"alpha(opacity=80)";
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
input, select {
    vertical-align:middle;
}
input[type="button"],input[type="text"],input[type="submit"],input[type="reset"],textarea {
   -webkit-appearance:none;
   border-radius:0;
}
.clearfix:after {
    content: "."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}
.clearfix {display:inline-block;}
* html .clearfix {height:1%;}
.clearfix {display:block;}

/*  common  */
.clear {
	font-size: 1px;
	height: 1px;
	clear: both;
}
.left{
	float:left;
	display:inline;
}

.right{
	float:right;
	display:inline;
}
.alignCenter {text-align:center;}
.alignLeft {text-align:left;}
.alignRight {text-align:right;}
.valignTop {vertical-align:top;}
.valignMiddle {vertical-align:middle;}
.valignBottom {vertical-align:bottom;}

.mt00 { margin-top: 0 !important; }
.mt05 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mt65 { margin-top: 65px !important; }
.mt70 { margin-top: 70px !important; }
.mt75 { margin-top: 75px !important; }
.mt80 { margin-top: 80px !important; }
.mt85 { margin-top: 85px !important; }
.mt90 { margin-top: 90px !important; }
.mt95 { margin-top: 95px !important; }
.mt100 { margin-top: 100px !important; }

.mr00 { margin-right: 0 !important; }
.mr05 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }
.mr55 { margin-right: 55px !important; }
.mr60 { margin-right: 60px !important; }
.mr65 { margin-right: 65px !important; }
.mr70 { margin-right: 70px !important; }
.mr75 { margin-right: 75px !important; }
.mr80 { margin-right: 80px !important; }
.mr85 { margin-right: 85px !important; }
.mr90 { margin-right: 90px !important; }
.mr95 { margin-right: 95px !important; }
.mr100 { margin-right: 100px !important; }

.mb00 { margin-bottom: 0 !important; }
.mb05 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb65 { margin-bottom: 65px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb75 { margin-bottom: 75px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb85 { margin-bottom: 85px !important; }
.mb90 { margin-bottom: 90px !important; }
.mb95 { margin-bottom: 95px !important; }
.mb100 { margin-bottom: 100px !important; }

.ml00 { margin-left: 0 !important; }
.ml05 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
.ml55 { margin-left: 55px !important; }
.ml60 { margin-left: 60px !important; }
.ml65 { margin-left: 65px !important; }
.ml70 { margin-left: 60px !important; }
.ml75 { margin-left: 75px !important; }
.ml80 { margin-left: 80px !important; }
.ml85 { margin-left: 85px !important; }
.ml90 { margin-left: 90px !important; }
.ml95 { margin-left: 95px !important; }
.ml100 { margin-left: 100px !important; }

.pt00 { padding-top: 0 !important; }
.pt05 { padding-top: 5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pt55 { padding-top: 55px !important; }
.pt60 { padding-top: 60px !important; }
.pt65 { padding-top: 65px !important; }
.pt70 { padding-top: 70px !important; }
.pt75 { padding-top: 75px !important; }
.pt80 { padding-top: 80px !important; }
.pt85 { padding-top: 85px !important; }
.pt90 { padding-top: 90px !important; }
.pt95 { padding-top: 95px !important; }
.pt100 { padding-top: 100px !important; }

.pr00 { padding-right: 0 !important; }
.pr05 { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }
.pr55 { padding-right: 55px !important; }
.pr60 { padding-right: 60px !important; }
.pr65 { padding-right: 65px !important; }
.pr70 { padding-right: 70px !important; }
.pr75 { padding-right: 75px !important; }
.pr80 { padding-right: 80px !important; }
.pr85 { padding-right: 85px !important; }
.pr90 { padding-right: 90px !important; }
.pr95 { padding-right: 95px !important; }
.pr100 { padding-right: 100px !important; }

.pb00 { padding-bottom: 0 !important; }
.pb05 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb55 { padding-bottom: 55px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb65 { padding-bottom: 65px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb75 { padding-bottom: 75px !important; }
.pb80 { padding-bottom: 80px !important; }
.pb85 { padding-bottom: 85px !important; }
.pb90 { padding-bottom: 90px !important; }
.pb95 { padding-bottom: 95px !important; }
.pb100 { padding-bottom: 100px !important; }

.pl00 { padding-left: 0 !important; }
.pl05 { padding-left: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }
.pl55 { padding-left: 55px !important; }
.pl60 { padding-left: 60px !important; }
.pl65 { padding-left: 65px !important; }
.pl70 { padding-left: 70px !important; }
.pl75 { padding-left: 75px !important; }
.pl80 { padding-left: 80px !important; }
.pl85 { padding-left: 85px !important; }
.pl90 { padding-left: 90px !important; }
.pl95 { padding-left: 95px !important; }
.pl100 { padding-left: 100px !important; }

.pcon { display:block; }
.spon { display:none; }
@media only screen and (min-width:1px) and (max-width:680px){
.pcon { display:none; }
.spon { display:block; }
}

/* html
-------------------------------------------------*/
html {
	overflow-y:scroll;
}

/*  body  */
body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
	font-size:12px;
	line-height:1.5;
	color:#000;
	-webkit-text-size-adjust:100%;
	position: relative;
}
.fo10 { font-size:10px; }
.fo13 { font-size:13px; }
.fo14 { font-size:14px; }
.fo15 { font-size:15px; }
.fo16 { font-size:16px; }
.fo18 { font-size:18px; }
.fo24 { font-size:24px; }

/* #wrapper */
#wrapper {
	width:100%;
	min-width:1000px;
	overflow:hidden;
	clear:both;
}

/*  #header  */
#header {
	width:100%;
	position:relative;
	z-index:9999;
}
#header .hinner {
	max-width:1000px;
	margin:0 auto;
	background:#fff;
	padding:17px 0;
	position: relative;
}
#logo {
	width:21.5%;
	float:left;
}
#logo a:hover img {
	opacity:1;
	filter: alpha(opacity=100);
	-ms-filter:"alpha(opacity=100)";
}
#header .hbtn {
	width:19%;
	float:right;
}
#header .hbtn dt {
	width:77%;
	float:left;
}
#header .hbtn dd {
	width:19%;
	float:right;
}
#headerSp {
	display:none;
}
/* search */
#searchBox {
	background: #cdcdcd;
	position: absolute;
	bottom: -47px;
	right: 0;
	padding: 10px;
	display: none;
}
#searchBox:after {
	content: "";
	display: block;
	clear: both;
}
#searchBox .sankaku {
	display: block;
	position: absolute;
	top: -24px;
	right: 10px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid #cdcdcd;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
#searchBox input[type="text"] {
	color: #a9a9a9;
	font-size: 14px;
	height: 34px;
	padding: 0 0 0 10px;
	width: 240px;
	float: left;
	border: none;
}
#searchBox input[type="submit"] {
	width:34px;
	height:34px;
	overflow:hidden;
	text-indent:-999px;
	background:url(../images/btn_search02.jpg) no-repeat left center;
	background-size:contain;
	float: left;
	border:inherit;
}
#searchBox #btn_search {
	display: block;
	width: 35px;
	float: left;
}
#searchBox #btn_search_close {
	display: block;
	width: 17px;
	float: left;
	margin: 8px 0 0 10px;
}


/* #navi */
#navi {
	width:50.5%;
	float:left;
	padding:0.9% 0 0 8%;
}
#navi ul {
	width:100%;
	display:table;
	clear:both;
}
#navi ul li {
	width:20%;
	padding:0 4%;
	box-sizing:border-box;
	display:table-cell;
}
#navi ul li a {
	display:block;
	width:100%;
}

/* #pnavi */
#pnavi {
	width:100%;
	background:#efefef;
	clear:both;
}
#pnavi ul {
	width:1000px;
	margin:0 auto;
	clear:both;
	color:#4a4a4a;
	padding:18px 0 12px;
}
#pnavi ul li {
	float:left;
}
#pnavi ul li a {
	color:#4a4a4a;
	text-decoration:underline;
}

/* #contents */
#contents {
	width:100%;
	clear:both;
}

/* #mainBody */
#mainBody {
	width:1000px;
	overflow:hidden;
	margin:0 auto;
	clear:both;
	padding:40px 0 100px;
}

/*  section  */
section {
	width:100%;
}
#contents .inner {
	max-width:1000px;
	margin:0 auto;
	clear:both;
	position:relative;
}

/* .subArea */
.subArea {
	width:23%;
	float:left;
}
.snavi {
	width:100%;
	border:#e2e2e2 1px solid;
	clear:both;
	box-sizing:border-box;
	margin-bottom:19px;
}
.subArea .slinks a {
	display:block;
	background:#4275bb;
	color:#fff;
	padding:20px 10px 15px;
	font-weight:bold;
}
.subArea .slinks a span {
	background:url(../images/ico03.gif) no-repeat left center;
	padding:0 0 0 20px;
}
.snavi ul {
	width:100%;
	clear:both;
}
.snavi ul li a {
	display:block;
	background:url(../images/ln02.gif) no-repeat center bottom;
	line-height:54px;
	padding:0 10px;
	color:#4a4a4a;
	text-decoration:none;
}
.snavi ul li a span {
	padding:0 12px;
	background:url(../images/ico04.gif) no-repeat right center;
	display:block;
}
.snavi ul li.bgNo a {
	background:#fff;
}
.snavi ul li.current-menu-item a ,
.snavi ul li.page_item a ,
.snavi ul li a.on,
.snavi ul li a:hover {
	background:#e2e2e2;
	border-top:#e2e2e2 1px solid;
	margin-top:-1px;
	position:relative;
}
.snavi ul li.page_item a ,
.snavi ul li.borTop a.on,
.snavi ul li.borTop a:hover {
	border-top:none;
	margin-top:0;
}
.snavi ul li a.on span,
.snavi ul li a:hover span {
	background:url(../images/ico05.gif) no-repeat right center;
}

/* .subBanner */
.subBanner {
	width:100%;
	clear:both;
	background:#efefef;
	box-sizing:border-box;
	padding:10px 10px 0;
	margin-top:30px;
}
.subBanner li {
	padding-bottom:9px;
}

/* .mainArea */
.mainArea {
	width:72%;
	float:right;
}

/* .headTitle */
.headTitle {
	text-align:center;
	color:#c9c8c8;
	line-height:1.4;
	padding-bottom:28px;
	text-shadow:1px 1px 1px #fff;
}
.headTitle.tL {
	text-align:left;
}
.headTitle span {
	display:block;
	color:#406fae;
}
.headTitle02 {
	line-height:1.4;
	color:#4275bb;
	padding:0 0 22px;
	position:relative;
}
.headTitle02 span {
	background:url(../images/bg_title.gif) no-repeat left 3px;
	padding:0 0 0 32px;
}
.headTitle02.line {
	padding-bottom:8px;
	margin-bottom:13px;
	border-bottom:#9c9c9c 1px solid;
}
.headTitle02 .smTxt {
	top:6px;
	right:0;
	display:block;
	float:right;
	border:#4275bb 1px solid;
	border-radius:3px;
	background:none;
	padding:2px 10px;
	line-height:1.3;
	margin-left:0.5em;
}
.headTitle03 {
	color:#4a4a4a;
	background:url(../images/ln03.gif) no-repeat center bottom;
	background-size:100%;
	padding-bottom:6px;
}

/* .listArea */
.listArea {
	width:102%;
	margin:0 -1%;
	clear:both;
}
.listArea li {
	width:33.3%;
	float:left;
	padding:0 1% 1.8%;
	box-sizing:border-box;
}
.listArea li a {
	width:95.6%;
	padding:2.2%;
	display:block;
	clear:both;
	background:url(../images/arrow.png) no-repeat right bottom #fff;
	color:#2c2d2d;
	text-decoration:none;
}
.listArea li a span {
	display:block;
	font-size:14px;
	padding:4.5% 1.5% 0.9%;
}

/* .workList */
.workList {
	width:102%;
	margin:0 -1%;
	clear:both;
	padding-bottom:2.3%;
}
.workList li {
	width:25%;
	float:left;
	padding:0 1% 1.8%;
	box-sizing:border-box;
}
.workList li a {
	width:89.4%;
	padding:6.5% 5.3%;
	display:block;
	clear:both;
	background:url(../images/arrow.png) no-repeat right bottom #fff;
	color:#5c5451;
	text-decoration:none;
}
.workList li a p {
	font-size:14px;
	padding:5.6% 1.5% 0.8%;
}
.workList li a p span {
	font-weight:bold;
	color:#406fae;
	display:block;
	padding-bottom:3%;
}

/*  #footer  */
#footer {
	width:100%;
	clear:both;
	background:#fff;
	color:#2d2d2d;
}
#footer .copyright {
	text-align:center;
	padding:12px 0;
}

/* .mailArea */
.mailArea {
	width:100%;
	border-bottom:#cecdcd 1px solid;
	clear:both;
	padding:30px 0 33px;
	background:#efefef;
}
.mailArea .mail {
	max-width:1000px;
	margin:0 auto;
	clear:both;
	position:relative;
}
.mailArea .btn {
	width:26.8%;
	position:absolute;
	top:15%;
	right:2%;
}

/* #finner */
#finner {
	max-width:1000px;
	margin:0 auto;
	clear:both;
	padding-bottom:62px;
}
#finner .flogo {
	width:100%;
	clear:both;
	padding:37px 0 38px;
}
#finner .flogo p {
	width:28%;
	float:left;
}
#finner address {
	width:64.5%;
	float:right;
	color:#313131;
	line-height:1.4;
}

/* .fnavi */
.fnavi {
	width:100%;
	background:url(../images/bg_fnavi.gif) repeat-y center top;
	background-size:100% auto;
	clear:both;
	padding:3px 0 12px;
}
.fnavi ul {
	float:left;
}
.fnavi .flinks {
	width:16.8%;
	padding-right:2%;
}
.fnavi .flinks.widDif {
	width:40.2%;
}
.fnavi .flinks.widDif02 {
	width:19.2%;
}
.fnavi .flinks li a {
	display:block;
	clear:both;
	color:#2d2d2d;
	font-weight:bold;
	font-size:14px;
	background:url(../images/ico01.gif) no-repeat left 5px;
	padding:0 0 9px 17px;
}
.fnavi .flinks li ul {
	padding:0 0 0 17px;
	margin-top:-4px;
}
.fnavi .flinks.widDif ul {
	padding-right:4%;
}
.fnavi .flinks li ul li {
	padding-top:7px;
}
.fnavi .flinks li ul li a {
	font-weight:normal;
	font-size:13px;
	padding-bottom:0;
	background:url(../images/ico02.gif) no-repeat left 7px;
}
#fnaviSp {
	display:none;
}

/* #scrolltopcontrol */
#scrolltopcontrol {
    background:url(../images/page_top.png) no-repeat left top;
}
#topcontrol {
	right:30px;
	z-index: 10;
}

@media only screen and (min-width:1px) and (max-width:1024px){
#wrapper {
	min-width:100%;
}
#pnavi ul {
	width:100%;
}
#mainBody {
	width:100%;
}
}
@media only screen and (min-width:736px) and (max-width:886px){
.fnavi .flinks li a {
	font-size:13px;
}
.fnavi .flinks.widDif li ul {
	padding-right:1%;
}
.fnavi .flinks li ul li a {
	font-size:11px;
}
}
@media only screen and (min-width:641px) and (max-width:735px){
.fnavi .flinks li a {
	font-size:12px;
}
.fnavi .flinks.widDif li ul {
	padding-right:0;
}
.fnavi .flinks li ul li a {
	font-size:10px;
}
}
@media only screen and (min-width:1px) and (max-width:680px){
#wrapper {
	min-width:100%;
}

/* #header */
#header {
	display:none;
}
#header.clone {
	display:none!important;
}

/* #headerSp */
#headerSp {
	width:100%;
	display:block;
	clear:both;
	background:#fff;
	position:relative;
}
#headerSp .inner {
	width:87.5%;
	margin:0 auto;
	clear:both;
	padding:2.5% 0;
}
#headerSp .logo {
	width:48%;
	float:left;
	padding:1.4% 0 0;
}
#headerSp a:hover img {
	opacity:1;
	filter: alpha(opacity=100);
	-ms-filter:"alpha(opacity=100)";
}
#headerSp .menuBtn {
	width:10.5%;
	float:right;
}
#headerSp .open {
	cursor:pointer;
}
#menu .close {
	cursor:pointer;
}
#menu .closeBtn {
	width:10.5%;
	float:right;
}

/* #menu */
#menu {
	display:none;
	width:100%;
	clear:both;
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
}
#menu .bgMenu {
	width:100%;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	display:block;
	background:url(../images/bg_menu.png) repeat left top;
}
#menu .menuBg {
	width:100%;
	background:url(../images/bg.png) repeat left top;
	clear:both;
	position:relative;
}
#menu .menuHead {
	width:87.5%;
	overflow:hidden;
	padding:2.5% 6.25%;
	clear:both;
	border-bottom:#cecdcd 1px solid;
}
#menu ul {
	width:87.5%;
	margin:0 auto;
	clear:both;
}
#menu ul li a {
	display:block;
	color:#444;
	background:url(../images/ico_menu.png) no-repeat right center;
	background-size:3%;
	border-bottom:#cecdcd 1px solid;
	line-height:46px;
	text-decoration:none;
	color:#fff;
}
#menu ul li:last-child a {
	border-bottom:none;
}

/* #pnavi */
#pnavi {
	display:none;
}

/* #mainBody */
#mainBody {
	padding:20px 0 50px;
}
.subArea {
	display:none;
}
.mainArea {
	width:100%;
	float:none;
}

/* .headTitle */
.headTitle {
	text-align:center!important;
	font-size:8px;
	padding-bottom:22px;
}
.headTitle span {
	font-size:12px;
}
.headTitle02 {
	width:87.5%;
	margin:0 auto;
	clear:both;
	padding-bottom:15px;
}
.headTitle02 span {
	font-size:14px;
	background:url(../images/bg_title.gif) no-repeat left center;
	background-size:15px 12px;
	padding:0 0 0 20px;
}
.headTitle02 .smTxt {
	font-size:8px;
}
.headTitle03 {
	font-size:13px;
}
.headTitle03.wALL {
	width:87.5%;
	margin:0 auto;
}

/* .listArea */
.listArea {
	width:91%;
	margin:0 auto;
}
.listArea li {
	width:50%;
	padding:0 1.2% 3%;
}

/* .workList */
.workList {
	width:90.6%;
	margin:0 auto;
	padding-bottom:15px;
}
.workList li {
	width:50%;
	padding:0 2% 10px;
}
.workList li a {
	width:94%;
	padding:5px 5px 12px;
	background:url(../images/arrow.png) no-repeat right bottom #fff;
}
.workList li a p {
	font-size:10px;
	padding-left:0;
	padding-right:0;
}

/* #footer */
#footer {
	padding:24px 0 0;
	background:#efefef;
}
#footer .copyright {
	font-size:8px;
	padding:5px 0;
	background:#fff;
}

/* .mailArea */
.mailArea {
	width:87.5%;
	margin:0 auto 20px;
	padding:0 0 15px;
	border-bottom:none;
	border:#6b95cf 1px solid;
	box-sizing:border-box;
	background:#fff;
}
.mailArea .mail {
	position:static;
}
.mailArea .mailTit {
	color:#fff;
	text-align:center;
	background:#4275bb;
	padding:10px 0;
}
.mailArea .tel {
	width:91%;
	margin:0 auto;
	padding:13px 0;
}
.mailArea .btn {
	width:89%;
	margin:0 auto;
	position:static;
}

/* #finner */
#finner {
	padding-bottom:0;
	background:#fff;
}
#finner .flogo {
	padding:28px 0 20px;
}
#finner .flogo p {
	width:60.5%;
	float:none;
	margin:0 auto;
	padding-bottom:12px;
}
#finner .flogo address {
	width:100%;
	font-size:11px;
	text-align:center;
	float:none;
}

/* .fnavi */
.fnavi {
	display:none;
}
#fnaviSp {
	width:100%;
	border-top:#cecdcd 1px solid;
	clear:both;
	display:block;
}
#fnaviSp ul {
	clear:both;
}
#fnaviSp ul li a {
	display:block;
	color:#444;
	padding:0 6.5%;
	background:url(../images/ico01.gif) no-repeat 94% center;
	border-bottom:#cecdcd 1px solid;
	line-height:46px;
}

/* #scrolltopcontrol */
#scrolltopcontrol {
	display:none;
}
}