/*
Theme Name: Twenty Fourteen
Description: Used to style the TinyMCE editor.
*/


/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Headings
 * 3.0 - Text Elements
 * 4.0 - Links
 * 5.0 - Alignment
 * 6.0 - Tables
 * 7.0 - Images
 * 8.0 - Galleries
 * 9.0 - Audio/Video
 * 10.0 - RTL
 * ----------------------------------------------------------------------------
 */


/**
 * 1.0 Body
 * ----------------------------------------------------------------------------
 */

html .mceContentBody {
	padding:0.6em 0;
}

body {
	font-weight: 400;
	line-height: 1.6em;
	vertical-align: baseline;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
}


/**
 * 2.0 Headings
 * ----------------------------------------------------------------------------
 */


.mceContentBody h1,
.mceContentBody h2,
.mceContentBody h3,
.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6 {
	clear: both;
	font-weight: 700;
	margin: 20px 0 !important;
	padding:0 !important;
	color:inherit !important;
}

.mceContentBody h1 {
	font-size: 260% !important;
	line-height: 1.3846153846;
}

.mceContentBody h2 {
	font-size: 220% !important;
	line-height: 1;
}

.mceContentBody h3 {
	font-size: 200%;
	line-height: 1.0909090909;
}

.mceContentBody h4 {
	font-size: 180%;
	line-height: 1.2;
}

.mceContentBody h5 {
	font-size: 120% !important;
	line-height: 1.3333333333;
	margin: 0 0 10px 0 !important;
}

.mceContentBody h6 {
	font-size: 80%;
	line-height: 1.5;
}

.mceContentBody h1:first-child,
.mceContentBody h2:first-child,
.mceContentBody h3:first-child,
.mceContentBody h4:first-child,
.mceContentBody h5:first-child,
.mceContentBody h6:first-child {
	margin-top: 0;
}


/**
 * 3.0 Text Elements
 * ----------------------------------------------------------------------------
 */

.mceContentBody address {
	font-style: italic;
	margin-bottom: 220%;
}

.mceContentBody abbr[title] {
	border-bottom: 1px dotted #2b2b2b;
	cursor: help;
}

.mceContentBody b,
.mceContentBody strong {
	font-weight: 700;
}

.mceContentBody cite {
	border: 0;
}

.mceContentBody cite,
.mceContentBody dfn,
.mceContentBody em,
.mceContentBody i {
	font-style: italic;
}

.mceContentBody mark,
.mceContentBody ins {
	background: #fff9c0;
	border: 0;
	color: inherit;
	text-decoration: none;
}

.mceContentBody p {
	margin:0 !important;
	line-height:1.8em;
}
.mceContentBody p:after {
	content: "";
	clear: both;
	display: block;
}


.mceContentBody code,
.mceContentBody kbd,
.mceContentBody tt,
.mceContentBody var,
.mceContentBody samp,
.mceContentBody pre {
	font-size: 130%;
	line-height: 1.6;
}

.mceContentBody pre {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 20px 0;
	max-width: 100%;
	overflow: auto;
	padding: 12px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.mceContentBody blockquote,
.mceContentBody q {
	quotes: none;
}

.mceContentBody blockquote:before,
.mceContentBody blockquote:after,
.mceContentBody q:before,
.mceContentBody q:after {
	content: "";
	content: none;
}

.mceContentBody blockquote {
	font-size: 170%;
	font-style: italic;
	font-weight: 300;
	line-height: 1.2631578947;
	margin: 0 0 24px;
}

.mceContentBody blockquote cite,
.mceContentBody blockquote small {
	font-size: 140%;
	font-weight: 400;
	line-height: 1.5;
}

.mceContentBody blockquote em,
.mceContentBody blockquote i,
.mceContentBody blockquote cite {
	font-style: normal;
}

.mceContentBody blockquote strong,
.mceContentBody blockquote b {
	font-weight: 400;
}

.mceContentBody small {
	font-size: smaller;
}

.mceContentBody big {
	font-size: 125%;
}

.mceContentBody sup,
.mceContentBody sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.mceContentBody sup {
	bottom: 1ex;
}

.mceContentBody sub {
	top: .5ex;
}

.mceContentBody dl {
	margin: 0 0 20px;
}

.mceContentBody dt {
	font-weight: bold;
}

.mceContentBody dd {
	margin: 0 0 20px;
}

.mceContentBody ul,
.mceContentBody ol {
	list-style: none;
	margin: 20px 0 20px 20px;
	padding-left: 0;
}

.mceContentBody ul {
	list-style: disc;
}

.mceContentBody ol {
	list-style: decimal;
}

.mceContentBody li > ul,
.mceContentBody li > ol {
	margin: 0 0 0 20px;
	font-size: 120%;
}

.mceContentBody del {
}

.mceContentBody hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin: 1.5em 0;
}


/**
 * 4.0 Links
 * ----------------------------------------------------------------------------
 */

.mceContentBody a {
	color: #06C;
	text-decoration: underline;
	font-weight: bold;
}

.mceContentBody strong, 
.body_blue_bold {
    font-weight: bold;
}
.mceContentBody a:visited {
}

.mceContentBody a:focus {
	outline: thin dotted;
}

.mceContentBody a:active,
.mceContentBody a:hover {
	text-decoration:none;
}


/**
 * 5.0 Alignment
 * ----------------------------------------------------------------------------
 */

.mceContentBody .alignleft {
	float: left;
	margin: 7px 24px 7px 0;
}

.mceContentBody .alignright {
	float: right;
	margin: 7px 0 7px 24px;
}
.news_datail .aligncenter ,
.menu_datail .aligncenter {
	display:inline !important;
}
.mceContentBody .aligncenter {
	clear: both;
	display: block;
	margin: 7px auto;
}

.mceContentBody blockquote.alignleft,
.mceContentBody blockquote.alignright {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 17px;
	width: 50%;
}

.mceContentBody blockquote.alignleft p,
.mceContentBody blockquote.alignright p {
	margin:0;
}


/**
 * 6.0 Tables
 * ----------------------------------------------------------------------------
 */

.mceContentBody .mceItemTable {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 1px 0 0 1px;
	border-collapse: separate;
	border-spacing: 0;
	font-size: 120%;
	line-height: 1.2857142857;
	margin-bottom: 24px;
	width: 100%;
}

.mceContentBody .mceItemTable th,
.mceContentBody .mceItemTable caption {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 0 1px 1px 0;
	font-weight: 700;
	padding: 8px;
	text-align: left;
	text-transform: uppercase;
	vertical-align: baseline;
}

.mceContentBody .mceItemTable td {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 0 1px 1px 0;
	font-size: 120%;
	padding: 8px;
	vertical-align: baseline;
}


/**
 * 7.0 Images
 * ----------------------------------------------------------------------------
 */

.mceContentBody img {
	height: auto;
	vertical-align: middle;
	margin:10px 0;
}

.mceContentBody a img:hover { opacity:0.7;}

.mceContentBody .wp-caption {
	background: transparent;
	border: none;
	color: #767676;
	margin: 0 0 24px 0;
	padding: 0;
	text-align: left;
}

.mceContentBody .html5-captions .wp-caption {
	padding: 0;
}

.mceContentBody .wp-caption.alignleft {
	margin: 7px 14px 7px 0;
}

.mceContentBody .html5-captions .wp-caption.alignleft {
	margin-right: 24px;
}

.mceContentBody .wp-caption.alignright {
	margin: 7px 0 7px 14px;
}

.mceContentBody .wp-caption.alignright img,
.mceContentBody .wp-caption.alignright .wp-caption-dd {
}

.mceContentBody .html5-captions .wp-caption.alignright {
	margin-left: 24px;
}

.mceContentBody .html5-captions .wp-caption.alignright img,
.mceContentBody .html5-captions .wp-caption.alignright .wp-caption-dd {
	padding: 0;
}

.mceContentBody .wp-caption.aligncenter {
	margin: 7px 0;
}

.mceContentBody .wp-caption-dt {
	margin: 0;
}

.mceContentBody .wp-caption .wp-caption-text,
.mceContentBody .wp-caption-dd {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 100%;
	font-style: italic;
	line-height: 1.5;
	margin: 9px 0;
	padding: 0 10px 0 0; /* Avoid the caption to overflow the width of the image because wp-caption has 10px wider width */
	text-align: left;
}

.mceContentBody .mceTemp + ul,
.mceContentBody .mceTemp + ol {
	list-style-position: inside;
}

/**
 * 8.0 Gallery
 * -----------------------------------------------------------------------------
 */

.mceContentBody .gallery .gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.mceContentBody .gallery-columns-1 .gallery-item {
	max-width: 100%;
	width: auto;
}

.mceContentBody .gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 14px);
	max-width:         calc(50% - 14px);
	width: auto;
}

.mceContentBody .gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 11px);
	max-width:         calc(33.3% - 11px);
	width: auto;
}

.mceContentBody .gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 9px);
	max-width:         calc(25% - 9px);
	width: auto;
}

.mceContentBody .gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 8px);
	max-width:         calc(20% - 8px);
	width: auto;
}

.mceContentBody .gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 7px);
	max-width:         calc(16.7% - 7px);
	width: auto;
}

.mceContentBody .gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 7px);
	max-width:         calc(14.28% - 7px);
	width: auto;
}

.mceContentBody .gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 6px);
	max-width:         calc(12.5% - 6px);
	width: auto;
}

.mceContentBody .gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 6px);
	max-width:         calc(11.1% - 6px);
	width: auto;
}

.mceContentBody .gallery-columns-1 .gallery-item:nth-of-type(1n),
.mceContentBody .gallery-columns-2 .gallery-item:nth-of-type(2n),
.mceContentBody .gallery-columns-3 .gallery-item:nth-of-type(3n),
.mceContentBody .gallery-columns-4 .gallery-item:nth-of-type(4n),
.mceContentBody .gallery-columns-5 .gallery-item:nth-of-type(5n),
.mceContentBody .gallery-columns-6 .gallery-item:nth-of-type(6n),
.mceContentBody .gallery-columns-7 .gallery-item:nth-of-type(7n),
.mceContentBody .gallery-columns-8 .gallery-item:nth-of-type(8n),
.mceContentBody .gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.mceContentBody .gallery-columns-1 .gallery-item:nth-of-type(1n),
.mceContentBody .gallery-columns-2 .gallery-item:nth-of-type(2n - 1),
.mceContentBody .gallery-columns-3 .gallery-item:nth-of-type(3n - 2),
.mceContentBody .gallery-columns-4 .gallery-item:nth-of-type(4n - 3),
.mceContentBody .gallery-columns-5 .gallery-item:nth-of-type(5n - 4),
.mceContentBody .gallery-columns-6 .gallery-item:nth-of-type(6n - 5),
.mceContentBody .gallery-columns-7 .gallery-item:nth-of-type(7n - 6),
.mceContentBody .gallery-columns-8 .gallery-item:nth-of-type(8n - 7),
.mceContentBody .gallery-columns-9 .gallery-item:nth-of-type(9n - 8) {
	margin-left: 12px; /* Compensate for the default negative margin on .gallery, which can't be changed. */
}

.mceContentBody .gallery .gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 100%;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}

.mceContentBody .gallery .gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.mceContentBody .gallery-item:hover .gallery-caption {
	opacity: 1;
}

.mceContentBody .gallery-columns-7 .gallery-caption,
.mceContentBody .gallery-columns-8 .gallery-caption,
.mceContentBody .gallery-columns-9 .gallery-caption {
	display: none;
}


/**
 * 9.0 Audio/Video
 * ----------------------------------------------------------------------------
 */

.mceContentBody .mejs-mediaelement,
.mceContentBody .mejs-container .mejs-controls {
	background: #000;
}

.mceContentBody .mejs-controls .mejs-time-rail .mejs-time-loaded,
.mceContentBody .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #fff;
}

.mceContentBody .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #24890d;
}

.mceContentBody .mejs-controls .mejs-time-rail .mejs-time-total,
.mceContentBody .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: rgba(255, 255, 255, .33);
}

.mceContentBody .mejs-controls .mejs-time-rail span,
.mceContentBody .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mceContentBody .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	border-radius: 0;
}

.mceContentBody .mejs-overlay-loading {
	background: transparent;
}


/**
 * 10.0 RTL
 * ----------------------------------------------------------------------------
 */

html .mceContentBody.rtl {
	direction: rtl;
	unicode-bidi: embed;
}

.mceContentBody .rtl ol,
.mceContentBody .rtl ul {
	margin-left: 0;
	margin-right: 24px;
}

.mceContentBody .rtl .wp-caption,
.mceContentBody .rtl tr th {
	text-align: right;
}

.mceContentBody .rtl td {
	text-align: right;
}
